- content_for :sidebar do
  %ul.sidebar-actions
    %li.sidebar-actions-item
      = link_to "Txt", "#", class: "action-new-text-note", title: "Add new text note"
    %li.sidebar-actions-item
      = link_to "Img", "#", class: "action-new-image-note", title: "Add new image note"
  
  %ul.sidebar-desktops
    - @desktops.each do |desktop|
      %li.sidebar-desktops-item{ id: "desktop-row-#{desktop.id}", class: ("selected" if desktop.id == @current_desktop.id) }
        = link_to desktop.name, desktop_path(desktop), class: "sidebar-desktops-item-link"
    
    %li.sidebar-desktop-items-new
      = link_to "+", "#", title: "Add new desktop", class: "sidebar-desktop-items-new-link"

- content_for :javascripts do
  = javascript_tag do
    Postifly.init(#{@desktops.to_json.html_safe}, #{@all_notes.to_json.html_safe});

- if @notes.any?
  %ul.notes-list
    - @notes.each do |note|
      - classes = ["note-type-#{note.note_type}"]
      - style  = "top:    #{note.top}px;"
      - style += "left:   #{note.left}px;"
      - style += "width:  #{note.width}px;"
      - style += "height: #{note.height}px;"
      - if note.note_type == Note::IMAGE_TYPE
        - classes << "note-content-as-fill"
        - style += "background-image: url(#{note.content})"
      %li.notes-list-item{ class: classes, style: style }
        - unless note.note_type == Note::IMAGE_TYPE
          .note-content
            = note.content.gsub(/\n/, '<br>').html_safe
